@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,600;1,14..32,600&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  background: #0a0a0a;
  color: #ededed;
  font-family: "Inter", sans-serif;

  --error: #ed4c35;
  --gray-100: #1a1a1a;
  --gray-400: #2e2e2e;
  --gray-900: #a1a1a1;
  --gray-1000: #ededed;
  --accent-100: #0d1938;
  --accent-400: #153471;
  --accent-900: #67a5ff;
}

body > div {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
}

.kc-logo-text {
  margin: 40px;
  background: url("../img/rdfm-logo.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 36px;
}

.kc-logo-text > span {
  display: none;
}

body > div > div:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #000;
  border-left: 1px solid var(--gray-400);
}

#kc-page-title {
  font-weight: 600;
  margin: 22px 0;
}

form {
  display: flex;
  flex-direction: column;
}

form > div:not(:nth-of-type(3)) {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 10px;
}

label {
  font-size: 12px;
  font-weight: 400;
  color: var(--gray-1000);
}

#kc-content-wrapper {
  display: flex;
  flex-direction: column;
  width: 278px;
}

.alert-warning {
  padding-bottom: 20px;
}

input {
  border-radius: 4px;
  border: 1px solid var(--gray-400);
  background: var(--gray-100);
  font-size: 12px;
  color: var(--gray-900);
  padding: 10px;
  width: 100%;
}

input[type="submit"] {
  margin-top: 10px;
  border: 1px solid var(--accent-400);
  background: var(--accent-100);
  color: var(--accent-900);
}

input[type="submit"]:hover {
  cursor: pointer;
  filter: brightness(120%);
}

input[type="checkbox"] {
  vertical-align: middle;
  float: left;
  width: auto;
}

.checkbox {
  width: 100%;
  align-items: center;
}

input[type="submit"]:active {
  filter: brightness(90%);
}

#input-error {
  font-size: 12px;
  color: var(--error);
}

#kc-logout-confirm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
